{% set pagination = getPagination(page) %}
<div class="pagination {{ 'pagination--single' if not pagination.showNext or not pagination.showPrev }}">
  {% if pagination.showPrev %}
    <a href="{{content.url}}?page={{pagination.prevPage}}" class="pagination__button">
      Page {{ pagination.prevPage }}
    </a>
  {% endif %}
  {% if pagination.showNext and pagination.showPrev %}
    <span class="pagination__page-number">Page {{pagination.pageNumber}}</span>
  {% endif %}
  {% if pagination.showNext %}
    <a href="{{content.url}}?page={{pagination.nextPage}}" class="pagination__button">
      Page {{ pagination.nextPage }}
    </a>
  {% endif %}
</div>
