<article class="teaser">
  <div class="teaser__image-wrap">
    {% if teaser.urlToImage %}
      <img src="{{ teaser.urlToImage }}">
    {% endif %}
  </div>
  <a class="teaser__title" href="{{ teaser.url }}">
    <h1>
      {{ teaser.title }}
    </h1>
  </a>
  <time class="teaser__published">{{ teaser.publishedAt | dateFormat }}</time>
  {% if teaser.source and teaser.source.name %}
    <p class="teaser__source">{{ teaser.source.name }}</p>
  {% endif %}
  <p class="teaser__description">
    {{ teaser.description }}
  </p>
</article>
